#green {
    display:inline-block;
    background-color: #008000;
    width: 150px;
    height: 150px;
    border: 2px solid #000000;

}
#blue {
    display:inline-block;
    background-color: #2600ff;
    width: 150px;
    height: 150px;
    border: 2px solid #000000;

}
#grey {
    display:inline-block;
    background-color: #808080;
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
}
#teal {
    display:inline-block;
    background-color: #008080;
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
}